.container {
    display: block;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: device-width;
    margin: auto;
    margin-top: 100px;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.3);
    animation: fade 1s;
}

body {
	font-family: "SpoqaHanSansNeo-Thin";
	margin: 0;
	padding: 0;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://neungju.hs.jne.kr/user/neungju_hs/mobile/bg_img/neungju_hs_bg.jpg) no-repeat center center fixed;
	background-size: cover;
}


@font-face {
   font-family: 'SpoqaHanSansNeo-Thin';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Thin.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes riseup {
	from {
		transform: translate(-50%, -40%);
	}
	to {
		transform: translate(-50%, -60%);
	}
}

.title {
    animation: fade 1s forwards, riseup 1s forwards;
}

.img {
    margin: auto;
}

header {
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	padding: 20px;
	text-align: center;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin: 0 10px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

g {
  max-width: 500px;
  height: auto;
  margin-right: 50px;
}

.text {
  text-align: center;
}

h2 {
    width: auto;
    position: absolute;
    display: block;
    left: 50%;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 150px;
    font-size: 36px;
    color: #fff;
}

img {
    max-width: 300px;
    height: auto;
}

h1 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #fff;
}

p {
  font-size: 13px;
  line-height: 1.5;
  color: #fff;
}